OPENAI_API_KEY = "sk-proj-z1aZD1PG8qysfRuqLiXxj8PvVsmkAw3111111111111111111
TAVILY_API_KEY = "tvly-X5ZdZ3z8Ow4ZCbF11111111111111"

EMAIL_USER = "deve11111111111@gmail.com"
EMAIL_PASSWORD = "ycim koo111111111"

INTERVIEVER_FULL_NAME = "Ryan Collins"
INTERVIEW_TIME = "January 21, 2025, at three o'clock"
INTERVIEW_LOCATION = "1234 Broadway Avenue, 5th Floor, New York, NY 10001, USA"
